<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="asnId">asnId</label>

              
                <input formControlName="asnId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="comAsnId">comAsnId</label>

              
                <input formControlName="comAsnId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="containers">containers</label>

              
                  <textarea formControlName="containers" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="customerName">customerName</label>

              
                <input formControlName="customerName" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="customerCode">customerCode</label>

              
                <input formControlName="customerCode" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="asnId">asnId</label>

              
                <input [ngModel]="asnId"formControlName="asnId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="comAsnId">comAsnId</label>

              
                <input [ngModel]="comAsnId"formControlName="comAsnId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="containers">containers</label>

              
                  <textarea [ngModel]="containers" formControlName="containers" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="customerName">customerName</label>

              
                <input [ngModel]="customerName"formControlName="customerName" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="customerCode">customerCode</label>

              
                <input [ngModel]="customerCode"formControlName="customerCode" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>TestAsn</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">asnId</th>
            
                <th class="info">comAsnId</th>
            
                <th class="info">containers</th>
            
                <th class="info">customerName</th>
            
                <th class="info">customerCode</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.asnId}}</td>
            
                <td>{{asset.comAsnId}}</td>
            
                <td>{{asset.containers}}</td>
            
                <td>{{asset.customerName}}</td>
            
                <td>{{asset.customerCode}}</td>
            
            <td>
              <button (click)="getForm(asset.asnId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.asnId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
